*{
    margin: 0;
    padding: 0;
}
body{
    text-align: center;
}
.wrapper{
    width: 1170px;
    margin: 0 auto;
}
header{
    height: 100px;
    background: #262626;
    width: 100%;
    z-index: 12;
    position: fixed;
}
.logo{
    width: 30%;
    float: left;
line-height: 100px;
}
.logo a{
    text-decoration: none;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    letter-spacing: 3px;
}
nav{
    float:right;
    line-height: 100px;
}
nav a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 4px;
    font-size: 20px;
    margin: 0 10px;
    color: #fff;
}
.banner-area{
    width: 100%;
    height: 400px;
    position: fixed;
    top: 100px;
    background-image:url(images/DSC00923.jpg);
    background-size: cover;
    background-position: center center;
}
.banner-area h2 {
    padding-top: 8%;
    font-size: 70px;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}
.about-me{
    width:100%;
    position:relative;
    top:450px;
    background: #ddd;
    height: 1500px;
}
.wrapper2 {
    display:flex;
    flex-flow: row;
    text-align: center;
    background-color: tan;
    
}
.me {
    width: 50%;
    display: flex;
    align-items: center;
}
.wrapper3 {
    display:flex;
    flex-flow: row;
    text-align: center;
    background-color:#fff;
}
.work {
    display:block;
    width: 100%;

}
.contact {
    width: 50%;
}
.working {
    position:relative;
    width: 100%;
}
.work-overlay {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: rgba(0, 0, 0, 0.6);
    color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
}

.work-overlay--blur {
    backdrop-filter: blur(5px);
}

.work-overlay > * {
    transform: translateY(20px);
    transition: transform 0.25s;
}
.work-overlay:hover {
    opacity: 1;
}

.work-overlay:hover > * {
    transform: translateY(0);
}
.work-title {
    font-size: 2em;
    font-weight: bold;
}

.work-description {
    font-size: 1.25em;
}

.suit {
    position:relative;
    width: 100%;
}

.suit-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 428px;
    height: 50%;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
}

.suit-overlay--blur {
    backdrop-filter: blur(5px);
}

.suit-overlay > * {
    transform: translateY(20px);
    transition: transform 0.25s;
}
.suit-overlay:hover {
    opacity: 1;
}

.suit-overlay:hover > * {
    transform: translateY(0);
}
.suit-title {
    font-size: 2em;
    font-weight: bold;
}

.suit-description {
    font-size: 1.25em;
}

.phone {
    position:relative;
    width: 100%;
}

.phone-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width:100%;
    height:400px;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
}

.phone-overlay--blur {
    backdrop-filter: blur(5px);
}

.phone-overlay > * {
    transform: translateY(20px);
    transition: transform 0.25s;
}
.phone-overlay:hover {
    opacity: 1;
}

.phone-overlay:hover > * {
    transform: translateY(0);
}
.phone-title {
    font-size: 2em;
    font-weight: bold;
}

.phone-description {
    font-size: 1.25em;
}

.wrapper4 {
    display:flex;
    flex-flow: row;
    text-align: center;
    background-color:#fff;
}